################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CernunnosLib/bin/Debug
/.vs
/CernunnosLib/obj/Debug
/CernunnosWeb/bin
/CernunnosWeb/obj/Debug
/packages
