<?xml version="1.0" encoding="utf-8" ?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle name="AsyncFileUploadBundle">
      <control name="AjaxFileUpload" />
      <control name="AsyncFileUpload" />
    </controlBundle>
    <controlBundle name="TabBundle">
      <control name="TabContainer" />
      <control name="TabPanel" />
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>
